@import url("https://fonts.googleapis.com/css?family=Muli:300,400,700,800&display=swap");

:root {
  --background: #ffffff !important;
  --card-background: #fffeff !important;
  --card-shadow: #ccc !important;
  --text: #a6a5a6 !important;
  --gray-text: #7a7a7a !important;
  --heading-text: #000000 !important;
  --accent: #ffffff !important;
  --nav-active: #b893de !important;
  --nav-accent: #69448e !important;
  --primary-color: #69448e !important;
  --primary-color-light: #d0bce3 !important;
  --primary-gray: #cac0d3 !important;
  --primary-color-dark: #371d51 !important;
  --primary-loader: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='88px' height='47px' viewBox='0 0 88 47'>    <g id='medalFill' >        <g id='logoLoader' >            <path d='M87.707,12.806 C81.9341016,12.9433463 77.3251665,17.6614684 77.323,23.436 C77.3251665,29.2105316 81.9341016,33.9286537 87.707,34.066 L87.707,46.54 L0.483,46.54 L0.483,34.067 C0.571,34.069 0.655,34.08 0.743,34.08 C6.62124265,34.0799999 11.3864998,29.3147426 11.3864998,23.4365 C11.3864998,17.5582574 6.62124265,12.7930001 0.743,12.793 C0.655,12.793 0.57,12.806 0.483,12.806 L0.483,0.332 L87.707,0.332 L87.707,12.806 Z M24.106,30.966 C26.1025497,30.966 28.017326,30.1728737 29.4290998,28.7610998 C30.8408737,27.349326 31.634,25.4345497 31.634,23.438 C31.634,19.2804004 28.2635996,15.91 24.106,15.91 C19.9484004,15.91 16.578,19.2804004 16.578,23.438 C16.578,27.5955996 19.9484004,30.966 24.106,30.966 Z M44.354,30.966 C48.5115996,30.966 51.882,27.5955996 51.882,23.438 C51.882,19.2804004 48.5115996,15.91 44.354,15.91 C40.1964004,15.91 36.826,19.2804004 36.826,23.438 C36.826,27.5955996 40.1964004,30.966 44.354,30.966 Z M64.602,30.966 L64.6,30.966 C66.5968962,30.9665305 68.5121863,30.1736384 69.9243928,28.7618071 C71.3365992,27.3499757 72.1300001,25.4348963 72.13,23.438 C72.13,19.2804004 68.7595996,15.91 64.602,15.91 C60.4444004,15.91 57.074,19.2804004 57.074,23.438 C57.074,27.5955996 60.4444004,30.966 64.602,30.966 Z' id='Shape'></path>        </g>    </g></svg>");
  font-family: "Muli", sans-serif !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Muli", sans-serif;
}
body {
  background-color: black;
  /*   background: url(/images/Showpener_BG2.jpeg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Muli", sans-serif;
  position: relative;
}
a {
  color: inherit;
  text-decoration: none;
}
p {
  color: white;
  line-height: 1.3;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container {
  padding: 0 2rem;
}
.logo {
  padding: 5px 20px 40px 20px;
  margin-top: -90px;

  display: flex;
  justify-content: center;
}
.main {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.widow {
  white-space: nowrap;
}
.blackpanel {
  background-color: rgba(0, 0, 0, 0.618);
  border-radius: 50px;
  padding: 40px;
  max-width: 50vw;
}
h1,
h2 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}
h1 {
  margin: 0px 0px 0px 0px;
  font-size: 40px;
  font-weight: 800;
}
h2 {
  margin-top: 10px;
}
.center-text {
  text-align: center;
}
.disclaimer {
  color: rgb(240, 240, 240);
  text-align: center;
  font-size: 14px;
  padding: 20px 10px 0 10px;

  text-shadow: 1px 1px 2px #000000;
}
.notice {
  margin: 0px 0 50px 0;
  background: rgba(225, 225, 225, 0.44);
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  font-size: 14px;
}
.submitButton span {
  background: rgba(222, 222, 222, 0.584);
  display: block;
  padding: 15px 25px;
  border-radius: 20px;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}
.submitButton span:hover {
  background: rgba(150, 136, 156, 0.584);
  box-shadow: 0 0px 0 #000, 0 0px 20px 5px #823b6b;
}
.submitButton:active {
  padding-bottom: 1px;
  box-shadow: 0 1px 0 #000;
}
.submitButton:disabled {
  opacity: 0.5;
  cursor: auto;
}
.submitButton:hover {
  background: rgba(246, 221, 253, 0.671);
}
.submitButton {
  cursor: pointer;
  height: auto;
  margin: 0 0 10px 0;
  padding: 0px;
  position: relative;
  float: left;
  padding: 5px;
  color: #000;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.456);
  border-radius: 25px;
  border: none;
  transition: all 0.2s ease-in-out;
}
/* LOADERS */

/* LOADERS */
/* ////////////////////////// */

.LoadOverlay {
  background-color: rgba(255, 255, 255, 0.884);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 301;
  pointer-events: none;
}

.logoLoader {
  -webkit-mask: var(
      --primary-loader,
      url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='344' height='344' viewBox='0 0 344 344'>  <g id='medalFill' transform='translate(-1031 921)'>    <rect id='Rectangle_6' data-name='Rectangle 6' width='344' height='344' transform='translate(1031 -921)' fill='none'/>    <path id='Path_86' data-name='Path 86' d='M146.186,318.158A25.812,25.812,0,0,1,172,292.344v-.005a47.271,47.271,0,0,0,0-94.542A98.9,98.9,0,0,1,73.193,103.21a119.936,119.936,0,0,0-16.389,33.7v0a120.532,120.532,0,0,0,48.069,135.048l-.05.082A25.817,25.817,0,1,1,76.5,315.062,171.987,171.987,0,0,1,165.357.157l.573-.022H166l.032,0h.115l.037,0c.7-.022,1.4-.045,2.106-.06h.057l.092,0Q170.215,0,172,0V.015a25.814,25.814,0,0,1,0,51.628c-.218,0-.434-.006-.649-.01A47.27,47.27,0,0,0,172,146.168a98.9,98.9,0,0,1,98.8,94.582A120.413,120.413,0,0,0,239.128,71.989l.042-.07a25.819,25.819,0,1,1,28.2-43.113A171.989,171.989,0,0,1,178.643,343.8l-.573.02-.037,0h-.107l-.077.007h-.037q-.976.035-1.957.061-1.679.064-3.375.073-.24.006-.479.006A25.817,25.817,0,0,1,146.186,318.158Z' transform='translate(1031 -920.986)'/>  </g></svg>")
    )
    no-repeat 100% 100%;
  mask: var(
      --primary-loader,
      url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='344' height='344' viewBox='0 0 344 344'>  <g id='medalFill' transform='translate(-1031 921)'>    <rect id='Rectangle_6' data-name='Rectangle 6' width='344' height='344' transform='translate(1031 -921)' fill='none'/>    <path id='Path_86' data-name='Path 86' d='M146.186,318.158A25.812,25.812,0,0,1,172,292.344v-.005a47.271,47.271,0,0,0,0-94.542A98.9,98.9,0,0,1,73.193,103.21a119.936,119.936,0,0,0-16.389,33.7v0a120.532,120.532,0,0,0,48.069,135.048l-.05.082A25.817,25.817,0,1,1,76.5,315.062,171.987,171.987,0,0,1,165.357.157l.573-.022H166l.032,0h.115l.037,0c.7-.022,1.4-.045,2.106-.06h.057l.092,0Q170.215,0,172,0V.015a25.814,25.814,0,0,1,0,51.628c-.218,0-.434-.006-.649-.01A47.27,47.27,0,0,0,172,146.168a98.9,98.9,0,0,1,98.8,94.582A120.413,120.413,0,0,0,239.128,71.989l.042-.07a25.819,25.819,0,1,1,28.2-43.113A171.989,171.989,0,0,1,178.643,343.8l-.573.02-.037,0h-.107l-.077.007h-.037q-.976.035-1.957.061-1.679.064-3.375.073-.24.006-.479.006A25.817,25.817,0,0,1,146.186,318.158Z' transform='translate(1031 -920.986)'/>  </g></svg>")
    )
    no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--primary-color, black);
  height: 47px;
  width: 88px;
  animation: anim 1.5s infinite;
}
@keyframes anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

  0% {
    transform: rotate(0deg);
  }

  /* Finish changes by here */
  90% {
    transform: rotate(360deg);
  }

  /* Between 20% and 100%, nothing changes */
  100% {
    transform: rotate(360deg);
  }
}
