.notice {
  margin: 0px 0 50px 0;
  background: rgba(225, 225, 225, 0.44);
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  font-size: 14px;
}
.centerColumnContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.messageContainer {
  margin: 20px 0 40px 0;
}
/* 
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
 */
