.centerColumnContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.messageContainer {
  margin: 0px 0 0px 0;
  text-align: center;
}

@media (max-width: 600px) {
  .messageContainer {
    width: 100%;
  }
}
