.centerColumnContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.messageContainer {
  margin: 20px 0 40px 0;
  text-align: center;
}
/* 
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
 */
